In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from collections import Counter
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('updated_balanced_dataset.csv')

In [3]:
df.head()

,Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M,Temperature Difference,Machine Failure,Machine Failure(2),Horse Power
0,1364,65.3,208,True,True,False,True,True,False,True,False,False,9.5,1,1,89069.2
1,1410,65.7,191,True,False,False,True,True,False,False,True,False,10.1,1,1,92637.0
2,1243,74.5,194,True,False,False,True,True,False,False,False,True,11.3,1,1,92603.5
3,1268,69.4,189,True,False,False,True,True,False,False,True,False,10.7,1,1,87999.2
4,1405,46.4,207,True,True,False,False,False,True,False,True,False,9.2,1,1,65192.0

In [6]:
column1 = 'Rotational speed [rpm]'
column2 = 'Torque [Nm]'
df = df.drop(columns=[column1, column2])
df.rename(columns={'Machine Failure': 'All_MF'}, inplace=True)
df.rename(columns={'Machine Failure(2)': 'Balanced_MF'}, inplace=True)
df.to_csv("updated_balanced_dataset(2).csv", index=False)

In [7]:
df.head()

,Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF,Type_H,Type_L,Type_M,Temperature Difference,All_MF,Balanced_MF,Horse Power
0,208,True,True,False,True,True,False,True,False,False,9.5,1,1,89069.2
1,191,True,False,False,True,True,False,False,True,False,10.1,1,1,92637.0
2,194,True,False,False,True,True,False,False,False,True,11.3,1,1,92603.5
3,189,True,False,False,True,True,False,False,True,False,10.7,1,1,87999.2
4,207,True,True,False,False,False,True,False,True,False,9.2,1,1,65192.0

In [8]:
df.describe()

,Tool wear [min],Temperature Difference,All_MF,Balanced_MF,Horse Power
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,107.951000,10.000630,0.034800,0.034800,59967.147040
std,63.654147,1.001094,0.183282,0.183282,10193.093881
min,0.000000,7.600000,0.000000,0.000000,10966.800000
25%,53.000000,9.300000,0.000000,0.000000,53105.400000
50%,108.000000,9.800000,0.000000,0.000000,59883.900000
75%,162.000000,11.000000,0.000000,0.000000,66873.750000
max,253.000000,12.100000,1.000000,1.000000,99980.400000

In [12]:
feature_columns = ["Tool wear [min]", "Horse Power"]
scaler = MinMaxScaler()
df[feature_columns] = scaler.fit_transform(df[feature_columns])
df.to_csv("normalized_balanced_dataset(2).csv", index=False)

In [13]:
df.describe()

,Tool wear [min],Temperature Difference,All_MF,Balanced_MF,Horse Power
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,0.426684,10.000630,0.034800,0.034800,0.550482
std,0.251597,1.001094,0.183282,0.183282,0.114512
min,0.000000,7.600000,0.000000,0.000000,0.000000
25%,0.209486,9.300000,0.000000,0.000000,0.473395
50%,0.426877,9.800000,0.000000,0.000000,0.549546
75%,0.640316,11.000000,0.000000,0.000000,0.628072
max,1.000000,12.100000,1.000000,1.000000,1.000000